.App {
  text-align: center;
}

body {
  height: 100%;
  color:  #9d0027;
}

.App-link {
  color: #61dafb;
}


/******************** MARGINS **********************/
.header {
  background-color: #c50031;
  min-height: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  ;
}

.footer {
  background-color: #c50031;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  font-size: 20px;
  color: white;
  height: 100px;
  position: relative;
}

/******************** TABLE **********************/
.species-table,
th,
td {
  table-layout: auto;
  border: 2px solid #ea89a1;
  padding: 15px;
  margin: 20px;
  border-collapse: collapse;
  text-align: center;
}

.individuals-table,
th,
td {
  table-layout: auto;
  border: 2px solid #ea89a1;
  padding: 15px;
  margin: 20px;
  border-collapse: collapse;
  text-align: center;
}

.sightings-table,
th,
td {
  table-layout: auto;
  border: 2px solid #ea89a1;
  padding: 15px;
  margin: 20px;
  border-collapse: collapse;
  text-align: center;
}

.summary-table,
th,
td {
  table-layout: auto;
  border: 2px solid #ea89a1;
  padding: 15px;
  margin: 20px;
  border-collapse: collapse;
  text-align: center;
}

.table-heading{
  color: #c50031;
}
/******************** FORM Border **********************/
.formborder{
border: 2px solid #c50031;
};

/******************** BUTTONS **********************/
/* Button */
button{
  background-color: #ea89a1;
  border: #ea89a1;
  border-radius: 5px;
}
/*Button Hover */
button:hover {
  background-color: #c50031;
  color: white;
}
/* Submit */
input[type=submit] {
  background-color: #ea89a1;
  border: #ea89a1;
  border-radius: 5px;
}
/*Submit Hover */
input[type=submit]:hover {
  background-color: #c50031;
  color: white;
}

/******************** ICONS **********************/
.trash-icon {
  height: 5%;
  width: 5%; 
}

.edit-icon {
  height: 5%;
  width: 5%;
}
fieldset{
  border:none;
}
label {
  display: inline-block;
  width: 110px;
  text-align: left;
}
button{
  background-color: #ea89a1;
  border: #ea89a1;
  border-radius: 5px;
}
/*Button Hover */
button:hover {
  background-color: #c50031;
  color: white;
}